<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>type</key>
			<string>num</string>
			<key>image</key>
			<string></string>
			<key>text</key>
			<string>1</string>
		</dict>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>4</string>
        </dict>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>7</string>
        </dict>
        <dict>
            <key>type</key>
            <string>cancel</string>
            <key>image</key>
            <string>Keyboard_DismissKey</string>
            <key>text</key>
            <string></string>
        </dict>
	</array>
    <array>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>2</string>
        </dict>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>5</string>
        </dict>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>8</string>
        </dict>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>0</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>3</string>
        </dict>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>6</string>
        </dict>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>9</string>
        </dict>
        <dict>
            <key>type</key>
            <string>num</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>X</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>type</key>
            <string>delete</string>
            <key>image</key>
            <string>Keyboard_Backspace</string>
            <key>text</key>
            <string></string>
        </dict>
        <dict>
            <key>type</key>
            <string>done</string>
            <key>image</key>
            <string></string>
            <key>text</key>
            <string>完成</string>
        </dict>
    </array>
</array>
</plist>
